Getting Start with Julia

In [1]:
print("Hello Julia")

Hello Julia

In [2]:
println("Hello From Julia.")

Hello From Julia.

# Variables and Types

In [5]:
# a string with two quotes
message = "Hello World"
println(message, "is type ", typeof(message))
# a string with triple quote
name = """Jocelyn"""
println(name, " is type ", typeof(name))
# an integer value
age = 21
println(age, " is type ", typeof(age))

Hello Worldis type String
Jocelyn is type String
21 is type Int64

In [6]:
# define a float radius 
radius = 5.25
println(radius, " is type ", typeof(radius))

5.25 is type Float64

# Arithmetic Operators & Julia as Caluclator

## Arithmetic Operators

In [9]:
# define two variables a and b
a, b = 10, 2
# addition
result = a+b
println("a + b = ",result)
# substraction
result = a -b
println("a - b = ",result)
# multiplication
result = a*b
println("a * b = ",result)
# division
result = a/b
println("a / b = ",result)
# power of
result = a ^ b
println("a ^ b = ",result)
# fraction
frac1 = a//b
frac2 = b//a
result = frac1 + frac2
println(frac1," + ", frac2," = ",result)

a + b = 12
a - b = 8
a * b = 20
a / b = 5.0
a ^ b = 100
5//1 + 1//5 = 26//5

## Julia as a Calculator

In [10]:
5 + 10

15

In [11]:
50 - 60

-10

In [12]:
3 * 9

27

50 / 2

In [14]:
 2 ^ 5

32

In [15]:
1//2 + 2//3

7//6

# Datastructure in Julia

# Similar to Python there is four basic datastructure 

- Arrays
- Tuples
- Dictionnaries
- Sets

In [22]:
# array of elements of the same data type
squares = [2, 4, 8, 16, 32, 64, 128, 256]
println(squares, " is type ", typeof(squares))
# array of strings
words = ["Hello", "World", "from", "Julia"]
println(words, " is type ", typeof(words))
# mix data type array
mix = ["I'm Jocelyn ", ", I'm ", 21, " year old."]
println(mix, " is type ", typeof(mix))

[2, 4, 8, 16, 32, 64, 128, 256] is type Vector{Int64}
["Hello", "World", "from", "Julia"] is type Vector{String}
Any["I'm Jocelyn ", ", I'm ", 21, " year old."] is type Vector{Any}

In [25]:
my_tuple = (1, 2, 3,4)
println(my_tuple, " is type ", typeof(my_tuple))
mix_tuple = ("I'm Jocelyn ", ", I'm ", 21, " year old.")
println(mix_tuple, " is type ", typeof(mix_tuple))

(1, 2, 3, 4) is type NTuple{4, Int64}
("I'm Jocelyn ", ", I'm ", 21, " year old.") is type Tuple{String, String, Int64, String}

In [32]:
my_dict = Dict(
    "lastname" => "AGORO",
    "fisrtname" => "Jocelyn",
    "age" => 21,
    "interests" => ["C/C++", "Python", "Django", "Data Science"]
)
println(my_dict)
println("Interests: \n", my_dict["interests"])
println("Keys : ", keys(my_dict))
println("Values : ", values(my_dict))

Dict{String, Any}("interests" => ["C/C++", "Python", "Django", "Data Science"], "lastname" => "AGORO", "age" => 21, "fisrtname" => "Jocelyn")
Interests:
["C/C++", "Python", "Django", "Data Science"]
Keys : ["interests", "lastname", "age", "fisrtname"]
Values : Any[["C/C++", "Python", "Django", "Data Science"], "AGORO", 21, "Jocelyn"]

In [37]:
my_set = Set(["A", "B", "C", "D"])
println(my_set)
set2 = Set(["A", "Y", "Z"])
result = union(my_set, set2)
println(result)
result = intersect(my_set, set2)
println("Intersection : ", result)

Set(["B", "A", "C", "D"])
Set(["Y", "B", "A", "Z", "C", "D"])
Intersection : Set(["A"])

# Loops and Control Flow

* while loop
* for loop
* if statment

In [44]:
# basic 
i = 1
while i <= 5
    println("i has the value ", i)
    i += 1
end 
println("\n")
# range based for
for value in 1:10
    println("2 * $value = ", 2*value)
end

i has the value 1
i has the value 2
i has the value 3
i has the value 4
i has the value 5


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [52]:
# if statement
println("What is your age : ")
age = readline()
age = parse(Int, age)

if age >= 18
    println("Welcome !!!")
else
    println("You are not allowed to enter here")
end

stdin> 21
What is your age :
Welcome !!!

# Functions

In [64]:
# get started with functions
function hello(message)
    println(message)
end
hello("Hello World")
# default parameter
function say_something(message="Hello", name="World")
    println(message," " ,name)
end
say_something()
say_something("Hello","Jocelyn")
# args in julia
function sum_first_three(args)
    first_three = args[1:3]
    println(sum(first_three))
end
sum_first_three(4:10)
# kwargs(keyword arguments) in julia
function circle_area(radius; pi=3.14)
    return radius ^ 2 * pi
end
println("Circle has ", circle_area(5)," cm²")
println("Circle has ", circle_area(5, pi=pi)," cm²")

Hello World
Hello World
Hello Jocelyn
15
Circle has 78.5 cm²
Circle has 78.53981633974483 cm²